$shabnam : 'Shabnam', sans-serif;
$gold : #ffa52d;
$bannerColor: #6323c6;
$purple: #6323c6;
$gray: #e4e4e4;



/* 

    Object Colors

*/

// Gradien Color

$mapGradienColor: linear-gradient(0deg,#6a11cb 20%,#2575fc 80%);
